@model Vehlution_Everything_.Models.MECHANIC

@{
    ViewBag.Title = "Edit";
}
<head>
    <link rel="stylesheet" href="~/CSS/StyleSheet1.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <style>
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
            text-align: center;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
</head>
<h2>Mechanic</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Update Mechanic</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MECHANIC_ID)

        <div class="form-group">
            <div class="col-md-10">
                <label for="FullName">Full Name</label>
                @Html.EditorFor(model => model.FULL_NAME_, new { htmlAttributes = new { @class = "form-control" }, id = "FullName" })
                @Html.ValidationMessageFor(model => model.FULL_NAME_, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label for="CellNum">Cell Number</label>
                @Html.EditorFor(model => model.CELL_NUMBER_, new { htmlAttributes = new { @class = "form-control" }, id = "CellNum" })
                @Html.ValidationMessageFor(model => model.CELL_NUMBER_, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label for="Email">Email</label>
                @Html.EditorFor(model => model.EMAIL_, new { htmlAttributes = new { @class = "form-control" }, id = "Email" })
                @Html.ValidationMessageFor(model => model.EMAIL_, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Return to Mechanic Lists", "Index", "Index", new { @class = "btn btn-dark" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
