@model Vehlution_Everything_.Models.CAR
@{
    ViewBag.Title = "Edit";
    Layout =null;
}


@{
    ViewBag.Title = "Edit";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/StyleSheet1.css" />
    <style>
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
            text-align: center;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
    </style>
</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Update Car</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "select" })
    <div class="form-group">
        @Html.LabelFor(model => model.CAR_REG, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CAR_REG, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CAR_REG, "", new { @class = "select" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SEATS_ID, "SEATS_ID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("SEATS_ID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SEATS_ID, "", new { @class = "select" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.COLOUR_ID, "COLOUR_ID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("COLOUR_ID", null, htmlAttributes: new { @class = "form-control"  })
            @Html.ValidationMessageFor(model => model.COLOUR_ID, "", new { @class = "select" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TRANSMISSION_ID, "TRANSMISSION_ID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("TRANSMISSION_ID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TRANSMISSION_ID, "", new { @class = "select" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DOORS_ID, "DOORS_ID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("DOORS_ID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DOORS_ID, "", new { @class = "select" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.USER_ID, "USER_ID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("USER_ID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.USER_ID, "", new { @class = "select" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.STATUS_ID, "STATUS_ID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("STATUS_ID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.STATUS_ID, "", new { @class = "select" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FUELTYPE_ID, "FUELTYPE_ID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("FUELTYPE_ID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FUELTYPE_ID, "", new { @class = "select" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MODEL_ID, "MODEL_ID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MODEL_ID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MODEL_ID, "", new { @class = "select" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.YEAR, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.YEAR, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.YEAR, "", new { @class = "select" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MILAGE_, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MILAGE_, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MILAGE_, "", new { @class = "select" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LISTING_PRICE, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LISTING_PRICE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LISTING_PRICE, "", new { @class = "select" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IMAGE, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.IMAGE, new { htmlAttributes = new { @class = "form-control"  } })
            @Html.ValidationMessageFor(model => model.IMAGE, "", new { @class = "select" })
        </div>
    </div>

    @Html.HiddenFor(model => model.CAR_ID)

    <div class="form-group">
        @Html.LabelFor(model => model.CAR_TYPEID, "CAR_TYPEID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CAR_TYPEID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CAR_TYPEID, "", new { @class = "select" })
        </div>
    </div>
    <button type="submit" class="btn btn-default btn-sm" id="Edit" name="Edit" style="background-color:lightgreen" onclick="location.href='@Url.Action("Edit","CARs")'">
        <i class="fa fa-plus-square"></i>
        <span class="glyphicon glyphicon-ok"></span> Update
    </button>

    <button type="button" class="btn btn-default btn-sm" style="background-color:red" onclick="location.href='@Url.Action("AdminCarsForSale","CARs")'">
        <i class="fa fa-times"></i>
        <i class="glyphicon glyphicon-remove"></i> Cancel
    </button>
</div>
   
}



