@model Vehlution_Everything_.Models.USER_ROLE

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>USER_ROLE</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ROLE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ROLE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BLOCKED)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BLOCKED)
            </dd>

        </dl>
    </div>
    <p>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.USERROLE_ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </p>
</body>
</html>
