@model D5.Models.EMPLOYEE

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <title>Edit</title>
</head>
<body>
    <div class="container" style="text-align:center">
        <div class="panel panel-default">
            <h1 style="color:orange">Employee @Model.EMPLYEE_ID details</h1>
            <div class="panel-body">

                <label>Full Name </label><br />
                @using (Html.BeginForm("Edit", "EMPLOYEEs"))
                {


                    <input type="hidden" id="EMPLYEE_ID" name="EMPLYEE_ID" value="@Model.EMPLYEE_ID" readonly />
                    <input type="text" id="FULL_NAME" name="FULL_NAME" value="@Model.FULL_NAME" style="width:50%"/> <br />
                    <label>Cell Number</label><br />
                    <input type="text" id="CELL_NUMBER" name="CELL_NUMBER" value="@Model.CELL_NUMBER"style="width:50%"/><br />
                    <label>Email Address</label><br />
                    <input type="text" id="EMAIL" name="EMAIL" value="@Model.EMAIL" style="width:50%"/><br />
                    <label>Job description </label><br />
                    <input type="text" id="JOB_DESCRIPTION" name="JOB_DESCRIPTION" value="@Model.JOB_DESCRIPTION" style="width:50%"/><br />
                    <label>Date Hired </label><br />
                    <input type="date" style="width:50%" id="DATE_HIRED" name="DATE_HIRED" value="@Model.DATE_HIRED" placeholder="@Model.DATE_HIRED"/><br />

                    <button type="submit" class="btn btn-default btn-sm" id="Create" name="Create" style="background-color:lightgreen">
                        <i class="fa fa-plus-square"></i>
                        <span class="glyphicon glyphicon-ok"></span> Add Employee
                    </button>
                }
                <button type="button" class="btn btn-default btn-sm" style="background-color:red">
                    <i class="fa fa-times"></i>
                    <i class="glyphicon glyphicon-remove"></i> Cancel
                </button>
            </div>
        </div>
    </div>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
