@model Vehlution_Everything_.Models.CAR

@{
    ViewBag.Title = "Create";
    Layout = null;
}

@{
    var message = TempData["AlertMessage"] ?? string.Empty;
}

<script type="text/javascript">
    var message = '@message';
    if(message)
        alert(message);
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script language="javascript" type="text/javascript">
    function GetModel(_makeId) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#MODEL_ID").html(procemessage).show();
        var url = "/ADMINCARs/GetModelByMakeId/";

        $.ajax({
            url: url,
            data: { makeid: _makeId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select Make</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#MODEL_ID").html(markup).show();

            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
</script>


<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link rel="stylesheet" type="text/css" href="~/CSS1/StyleSheet1.css" />
    <style>
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
            text-align: center;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
</head>
<div id="myModal" class="modal">
    <div class="modal-content">
        <h1 style="color:orange">Part details</h1><br />
        <label>Please select a Defect</label><br />
        @using (Html.BeginForm("AddToList", "ADMINCARs"))
        {

            @Html.DropDownList("DEFECTS", null, htmlAttributes: new { @class = "select" })<br />
            <label>Which part of your car has this defect</label><br />
            @Html.DropDownList("CarParts", null, htmlAttributes: new { @class = "select" })
            <br />
            <label>Please Select a severity on a scale of 1-10 (1 being minor and 10 being very severe) </label><br />
            <input type="number" name="severity" id="severity" style="width:50%" required min="1" max="10" /><br />

            <button type="submit" class="btn btn-default btn-sm" style="background-color:orange;width:50%;color:white" value="addToList">

                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM4 14a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm7 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
                </svg>
                Add Defect
            </button>

            <button type="button" id="close" class="btn btn-default btn-sm" style="background-color:darkblue;width:50%;color:white">
                <i class="fa fa-times"></i>
                <i class="glyphicon glyphicon-remove"></i>
                Cancel
            </button>

        }
    </div>
</div>



<div class="container" style="text-align:center">
    <h1 style="color:orange">Please Enter the Car Details</h1>

    <table class="noborder">
        <caption>Defects</caption>

        <tr style="border-color:white">
            <th>Part</th>
            <th>Defect</th>
            <th>Severity</th>

            <th><button class="btn btn-outline-success" style="color:darkblue" id="myBtn"><i class="fa fa-plus-square"></i> Add Defect</button></th>
        </tr>
        @foreach (var item in ViewBag.Defectslist)
        {


            <tr style="border-color:white">
                <td> @item.PartName</td>
                <td>
                    @item.defname
                </td>
                <td>
                    @item.severity
                </td>

                <td>
                    @using (Html.BeginForm("RemoveFromList", "ADMINCARS"))
                    {
                        <input type="hidden" value="@item.defid" name="id" id="id" readonly />
                        <input type="hidden" value="@item.PartID" name="partid" id="partid" readonly />
                        <button class="btn text-danger" type="submit"><i class="fa fa-trash fa-lg" id="RemoveFromList" name="RemoveFromList"></i></button>

                    }
                </td>
            </tr>
        }

    </table>

    @using (Html.BeginForm("Create", "ADMINCARs", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <label>Car Registration</label><br />
        <input type="text" id="CarReg" name="CarReg" style="width:50%" required maxlength="8" minlength="8" /> <br />

        <label>Number of Seats</label><br />
        @Html.DropDownList("SEATS_ID", null, htmlAttributes: new { @class = "select" })
        <br />

        <label>Colour</label><br />
        @Html.DropDownList("COLOUR_ID", null, htmlAttributes: new { @class = "select" })
        <br />
        <label>Transmission</label><br />
        @Html.DropDownList("TRANSMISSION_ID", null, htmlAttributes: new { @class = "select" })
        <br />
        <label>Number of Doors</label><br />
        @Html.DropDownList("DOORS_ID", null, htmlAttributes: new { @class = "select" })
        <br />
        <label>Fuel Type</label><br />
        @Html.DropDownList("FUELTYPE_ID", null, htmlAttributes: new { @class = "select" })
        <br />
        <label>Make and Model</label><br />
        <label>Please Select a Make</label><br />
        @Html.DropDownList("MAKE_ID", null, htmlAttributes: new { @id = "ddlmake", @style = "width:200px;", @onchange = "javascript:GetModel(this.value);" })
        <br />
        <br />
        <select id="MODEL_ID" name="MODEL_ID" style="width: 200px">
        </select>

        <br /><br />
        <br />
        <label>Body Type</label><br />
        @Html.DropDownList("CAR_TYPEID", null, htmlAttributes: new { @class = "select" })
        <br />
        <label>Year</label><br />
        <input type="number" id="YEAR" name="YEAR" style="width:50%" required minlength="4" maxlenth="4" min="1900" max="2020"/><br />
        <br />
        <label>Mileage</label><br />
        <input type="number" id="MILAGE_" name="MILAGE_" style="width:50%" required min="0" /><br />
        <br />
        <label>Listing Price</label><br />
        <input type="number" id="LISTING_PRICE" name="LISTING_PRICE" style="width:50%" required
               placeholder="250000.00" /><br />
        <br />
        <label>Uplaod an Image</label>
        <p><input type="file" accept="image/*" name="file" onchange="loadFile(event)"></p>
        <p><img id="output" width="200" /></p>

       
        <script>
            var loadFile = function (event) {
                var image = document.getElementById('output');
                image.src = URL.createObjectURL(event.target.files[0]);
            };
        </script>

        <button type="submit" class="btn btn-default btn-sm" id="Create" name="Create" style="background-color:lightgreen">
            <i class="fa fa-plus-square"></i>
            <span class="glyphicon glyphicon-ok"></span> Add Car For Sale
        </button> <button type="button" class="btn btn-default btn-sm" style="background-color:red" onclick="location.href='@Url.Action("Create", "ADMINCARs")'">
            <i class="fa fa-times"></i>
            <i class="glyphicon glyphicon-remove"></i> Cancel
        </button>
    }
</div>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    var btn = document.getElementById("myBtn");
    var closebtn = document.getElementById("close");

    btn.onclick = function () {
        modal.style.display = "block";
    }

    closebtn.onclick = function () {
        modal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }


</script>



