
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>ClientNav</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    .navbar {
        background-color: darkblue;
    }

    .dropdown-menu {
        background-color: #FFA500;
    }

    body {
        background-color: #FFFACD;
        font-size: 20px;
    }

    .navbar-brand {
        font-size: 40px;
    }

    li {
        font-size: 20px;
    }
</style>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Vehlution</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a onclick="location.href='@Url.Action("ViewCarsForSaleIndex","CARs")'" href="#"> <span class="glyphicon glyphicon-eye-open"> View Cars For Sale </a></li>
                        <li><a onclick="location.href='@Url.Action("IndexSearch","CARs")'" href="#"> <span class="glyphicon glyphicon-search"> Search Cars For Sale </span></a></li>
                        <li><a onclick="location.href='@Url.Action("Create","CLIENTCARs")'" href="#"><span class="glyphicon glyphicon-usd"> Sell My Car </a></li>
                        <li><a onclick="location.href='@Url.Action("MyProfile","USERs")'"href="#"> <span class="glyphicon glyphicon-user"> View My Profile </a></li>

                    </ul>
                </li>
                <li><a href="#" onclick="location.href='@Url.Action("ContactUs","ContactAbout")'">Contact Us</a></li>
                <li><a href="#" onclick="location.href='@Url.Action("AboutUs","ContactAbout")'">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" onclick="location.href='@Url.Action("LoginNav","Nav")'"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>

    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Vehlution</a>
            </div>

            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Bookings <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><span class="glyphicon glyphicon-plus-sign"> Accept Booking To View My Car</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-refresh"> Update Booking To View My Car</a></li>

                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Offers <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a onclick="location.href='@Url.Action("ClientIndex","OFFERs")'" href="#"><span class="glyphicon glyphicon-plus-sign"> View Offers To Buy My Car</a></li>

                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sales<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a onclick="location.href='@Url.Action("ReceiveEmail","Email")'" href="#"><span class="glyphicon glyphicon-plus-sign">Finalise Car Sale</a></li>

                    </ul>
                </li>
            </ul>

        </div>
    </nav>

</body>
</html>
