@model IEnumerable<Vehlution_Everything_.Models.OFFER>

@{
    ViewBag.Title = "AdminIndex";
    Layout = null;
}

@{
    var message = TempData["AlertMessage"] ?? string.Empty;
}

<script type="text/javascript">
    var message = '@message';
    if(message)
        alert(message);
</script>

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <style>
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
            text-align: center;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Offers</title>
    <link rel="stylesheet" type="text/css" href="~/CSS1/StyleSheet1.css" />
</head>
<body>
    <div class="container">
        <div class="panel panel-default">

            <div class="panel-body">
                <table class="table-latitude">
                    <caption>OFFERS</caption>
                    <thead>
                    <th>
                        Offer ID
                    </th>
                    <th>
                        Listing Price
                    </th>
                    <th>
                        Offer Amount
                    </th>
                    <th>
                        Car Registration
                    </th>
                    <th>
                        Make and Model
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Client Details
                    </th>
                    <th>
                        Offer Status
                    </th>
                    <th></th>

                    </thead>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.OFFER_ID)
                            </td>
                            <td>
                                R: @item.CAR.LISTING_PRICE
                            </td>
                            <td>
                                R: @Html.DisplayFor(modelItem => item.AMOUNT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CAR.CAR_REG)
                            </td>
                            <td>
                                @item.CAR.MODEL.MAKE.MAKE_NAME @item.CAR.MODEL.MODEL_NAME
                            </td>
                            <td>
                                <img width="193" height="130" src="~/Images/@item.CAR.IMAGE" />
                            </td>
                            <td>
                                Full Name: @item.USER.FIRSTNAME @item.USER.LASTNAME<br />
                                Email Address: @item.USER.EMAIL
                            </td>

                            <td>
                                @using (Html.BeginForm("AcceptA", "OFFERs"))
                                {

                                    <input type="hidden" value="@item.OFFER_ID" id="id" name="id" />
                                    <button class="btn btn-default btn-sm" id="Accept" name="Accept" style="background-color:lightsteelblue">Accept</button>
                                }
                                <br />
                                @using (Html.BeginForm("RejectA", "OFFERs"))
                                {
                                    <input type="hidden" value="@item.OFFER_ID" id="id" name="id" />
                                    <button class="btn btn-default btn-sm" id="Accept" name="Accept" style="background-color:lightsteelblue">Reject</button>
                                }
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
    <input type="button" value="Home" onclick="location.href='@Url.Action("AdminNav","Nav")'" />
</body>
</html>
