@model IEnumerable<Vehlution_Everything_.Models.CAR>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAKE_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YEAR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MILAGE_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LISTING_PRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMAGE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAR_STATUS.SASTUS_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MODEL.MODEL_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLIENT.USER_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COLOUR.COLOUR_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FUEL_TYPE.FUELTYPE_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUMBER_OF_DOORS.DOORS_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUMBER_OF_SEATS.SEATS_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRANSMISSION.TRANSMISSION_NAME)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MAKE_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YEAR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MILAGE_)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LISTING_PRICE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IMAGE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAR_STATUS.SASTUS_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MODEL.MODEL_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLIENT.USER_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COLOUR.COLOUR_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FUEL_TYPE.FUELTYPE_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NUMBER_OF_DOORS.DOORS_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NUMBER_OF_SEATS.SEATS_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TRANSMISSION.TRANSMISSION_NAME)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CAR_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CAR_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CAR_ID })
            </td>
        </tr>
    }

</table>
