@model IEnumerable<Vehlution.Models.MODEL>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/CSS/StyleSheet1.css" />
</head>
<body>
    <div class="navbar">
        <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
        <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
    </div>
    <p>
        @Html.ActionLink("Create New Car Model", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MODEL_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MAKE.MAKE_NAME)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MODEL_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MAKE.MAKE_NAME)
                </td>
                <td>
                    <button class="button button1">@Html.ActionLink("Edit Car Model", "Edit", new { id = item.MODEL_ID })</button>
                    <button class="button button2">@Html.ActionLink("See Model Details", "Details", new { id = item.MODEL_ID })</button>
                    <button class="button button3">@Html.ActionLink("Delete Car Model", "Delete", new { id = item.MODEL_ID }) </button>
                </td>
            </tr>
        }

    </table>
</body>
</html>
