@model IEnumerable<Vehlution_Everything_.Models.SALE>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SALE_DATE_)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACCEPTED_OFFER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAR_CONTRACT_)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OFFER.OFFER_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PAYMENT.PAYMENTTYPE)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SALE_DATE_)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACCEPTED_OFFER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAR_CONTRACT_)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OFFER.OFFER_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PAYMENT.PAYMENTTYPE)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.SALES_ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.SALES_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.SALES_ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
